html {
    font-size: 62.5%;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ed1c24;
  --grey: #1d1d1d;
}
.bg-green {
    background-color: #11b76a;
}
.mlogo {
    width: 165px;
    margin: 10px;
}
nav > a {
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;
}
.fbtn {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 30px;
}
.obtn {
    border: 0px;
    background-color: #ed1c24;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 30px;
}
.m-img {
    width: 100%;
}
.m-brands > .main-head {
    font-size: 4rem;
    font-weight: lighter;
    margin: 30px 0px 0px 0px;
}
.m-brands > .para {
    font-size: 1.5rem;
    color: #ffffffB3;
    margin: 15px;
}
.b-image{ 
    background-color: #ffffff;
    border-radius: 5px;
    padding: 25px;
}
.b-btn{
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 25px;
    padding: 20px;
    color: #ffffff;
    width: 150px;
    margin: auto;
}
.fnch-container {
    background-color: #070707;
    border: px solid #ffffff;
    height: 160vh;
    color: #ffffff;  
}
.fnch-child {
    border: px solid #ffffff;
    width: 80%;
    height: 1200px;
    align-self: center;
}
.fnch-gchild {
    border: px solid #ffffff;
    color: #ffffff;
    text-align: justify;
    font-size: 1.5rem;
    height: 350px;
    width: 600px;
    padding: 50px;
    align-self: center;
}
.p-red {
    color: #ed1c24;
}
.p-grey {
    color: #ffffffB3;
}
.direction-btn {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 15px 10px;
    border-radius: 25px;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
}
.f-imgs {
    height: 290px;
    width: 500px;
}
.express-container {
    border:  px solid #ffffff;
    width: 98%;
    height: 300vh;
}

.express-child {
    border: px solid #ffffff;
    font-size: 1.5rem;
    align-self: center;
    width: 90%;
    height: 280vh;
}
.express-gchild {
    border: px solid #ffffff;
    align-self: center;
    width: 500px;
    height: 600px;
    text-align: center;
}
.exp-imgs {
    width: 450px;
    height: 300px;
    align-self: center;
}
.village-container {
    background-color: #070707;
    border: px solid #ffffff;
    width: 100%;
    height: 800px;
}
.village-child {
    border: px solid #ffffff;
    width: 90%;
    height: 650px;
    align-self: center;
}
.village-gchild {
    border: px solid #ffffff;
    width: 800px;
    height: 600px;
    align-self: center;
    text-align: justify;
    font-size: 1.5rem;
    padding: 15px;
}
.village-img {
    width: 100%;
    height: 100%;
}
.express-container2 {
    border: px solid #ffffff;
    width: 100%;
    height: 900px;
}
.express-child2 {
    border: px solid #ffffff;
    width: 70%;
    height: 700px;
    align-self: center;
}
.express-gchild2 {
    border: px solid red;
    width: 400px;
    height: 300px;
    background-color: #ffffff;
    color: #000000;
    align-self: center;
    text-align: center;
    font-size: 1.5rem;
}
.footer {
    background-color: #0c0c0c;
    border: px solid #ffffff;
    width: 100%;
    height: 600px;
}
.footer-child {
    border: px solid #ffffff;
    width: 400px;
    height: 500px;
    text-align: justify;
    font-size: 1.5rem;
    padding: 20px;
    text-decoration: none;
}
.no-bullet {
    list-style-type: none;
}
.footer-img {
    width: 130px;

}
.m-head {
    border: 0px solid white;
    padding: 50px;
    margin: 50px;
}
.intro-head {
    font-size: x-large;
    margin-top: 50px;
    text-align: center;
}
.intro {
    font-size: 1.8rem;
    width: 90%;
    text-align: center;
    font-weight: lighter;
}
.ist-container {
    border: 0px solid white;
    height: 100vh;
    width: 95%;
}
.istchild-ctn {
    border: 0px solid white;
    width: 850px;
    height: 400px;
    font-size: 1.8rem;
    text-align:start;
    align-self: start;
    padding: 10px;
}
.snp-img {
    width: 700px;
    height: 390px;
}
.fnch-containerA {
    border: px solid #ffffff;
    height: 150vh;
    color: #ffffff;  
}
.fnch-childA {
    border: px solid #ffffff;
    width: 90%;
    height: 1200px;
    align-self: center;
}
.fnch-gchildA {
    border: px solid #ffffff;
    color: #ffffff;
    text-align: justify;
    font-size: 1.5rem;
    height: 350px;
    width: 700px;
    padding: 10px;
    align-self: center;
}
.f-imgsA {
    height: 300px;
    width: 700px;
}
.exp-containerA {
    border: px solid #ffffff;
    width: 100%;
    height: 800px;
}
.exp-childA {
    border: px solid #ffffff;
    width: 90%;
    height: 600px;
    align-self: center;
}
.exp-gchildA {
    border: px solid #ffffff;
    width: 800px;
    height: 500px;
    align-self: center;
    text-align: justify;
    font-size: 1.5rem;
    padding: 15px;
}
.exp-imgA {
    width: 600px;
    height: 400px; ;
    align-self: flex-end;
}
.publication {
    border: px solid #ffffff;
    height: 800px;
    width: 95%;
    align-self: center;
}
.publication-child {
    border: 1px solid #ffffff;
    width: 600px;
    height: 700px;
    align-self: center;
}
.publication-img {
    width: 500px;
    height: 600px;
    align-self: center;
}
.add-container {
    border: px solid #ffffff;
    width: 100%;
    height: 900px;
    align-self: center;
}
.add-child {
    border: px solid #ffffff;
    width: 95%;
    height: 700px;
}
.add-gchild {
    border: px solid #ffffff;
    width: 500px;
    height: 100px;
    align-self: center;
    text-align: center;
    font-size: 1.5rem;
}
.info-container {
    border: 1px solid #ffffff;
    width: 70%;
    height: 70vh;
    margin: auto;
}
.info-child {
    border: 1px solid red;
    width: 630px;
    height: 600px;
    font-size: 1.8rem;
    text-align: justify;
    padding: 10px;
}
.info-btn {
    background-color: rgb(255, 217, 0);
    padding: 25px ;
    width: 120px;
    height: 30px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;


}